@charset "UTF-8";

/* ページ全体のスタイル
----------------------------------------- */

body {
  color: #333;
  font-weight: 700;
  line-height: 1.75;
  font-family: 'Noto Sans JP', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  vertical-align: bottom;
}

li {
  list-style: none;
}

/* 共通
------------------------------------------ */

/* ボタン */
.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 34px;
  font-size: 18px;
  width: 300px;
  height: 58px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 34px;
}

.button--blue {
  color: #fff;
  background-color: #46C4DB;
}

.button--green {
  color: #fff;
  background-color: #5DD5AB;
}

.button--box {
}

/* Cover
------------------------------------------ */

.cover {}

.cover__top {
  position: relative;
  /* height: 100%; */
  z-index: -1;
}

.cover__imageWrap {}

.cover__image {
  width: 100vw;
  padding-bottom: 131px;
}

@media (min-width: 768px) {
  .cover__image {
      height: 720px;
      padding-bottom: unset;
      object-fit: cover;
  }
}

@media (min-width: 1501px) {
  .cover__image {
    width: 100vw;
    height: unset;
    padding-bottom: unset;
  }
}

.cover__title {
  position: absolute;
  top: 24px;
  left: 50%;
  transform: translate(-50%, 0);
  font-family: Marcellus;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.2em;
  line-height: 1.25;
}

.cover__catch {
  position: absolute;
  bottom: 0;
}

@media (min-width: 768px) {
  .cover__catch {
    top: 50%;
    left: 14.86%;
    bottom: unset;
    transform: translate(0, -50%);
  }
}

.cover__catchMain {
  font-size: 41px;
  font-family: Marcellus;
  letter-spacing: 0.3em;
  font-weight: 400;
}

.cover__catchSub {
  font-size: 20px;
  font-family: Noto Serif JP;
  letter-spacing: 0.3em;
  line-height: 1.45;
  font-weight: 400;
}